.container {
    display: grid;
    grid-template-columns:  1fr 9fr 1fr;
}
main {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
    margin: 0 5%;
    gap: 3.5rem;
}
h1 {
    text-align: center;
    font-size: 3.5rem;
}
.link {
    @include Background($backgrounds);
    box-shadow: .1rem .1rem 1.2rem 0 black;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;  
}
.project, .project h2 {
    display: flex;
}
.project {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 13rem 2rem 0;
}

.img_project {
    width: fit-content;
}